.productCard {
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  width: 18.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  position: relative;
}

.productImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  height: 180px;
  object-fit: contain;
}

.productTitle {
  font-size: 1.5em;
  margin: 16px 0 8px;
  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productDescription {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 0.8rem;
  opacity: 0.8;
  transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
  z-index: 100;
  width: 80%;
  text-wrap: auto;
}

.productPrice {
  font-size: 1.2em;
  margin: 8px 0;
  margin-top: auto;
}

.addToCartButton {
  background-color: #e60000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  // margin-top: auto;

  &:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.addToCartButton:hover {
  background-color: #b12704;
}
